<div class="" style="margin-left:20px">
    <div>
        <table class="table" style="width:300px;">
            <tr>
                <td colspan="2">
                    <h4>Parent Component</h4>
                </td>
            </tr>
            <tr>
                <td>Client Name</td>
                <td><input type="text" [(ngModel)]="data.name" /></td>
            </tr>
            <tr>
                <td>Client Address:</td>
                <td><input type="text" [(ngModel)]="data.address"/></td>
            </tr>
            <tr>
                <td>Client City</td>
                <td><input type="text" [(ngModel)]="data.city"/></td>
            </tr>
        </table>
    </div>
    <child-comp [parentData]="data"></child-comp>
</div>